node_modules
dist
coverage
**/*.js
*.d.ts

# Ignore problematic files temporarily while development is ongoing
packages/core/src/poly/circle/domain.ts
packages/core/src/poly/circle/evaluation.ts
packages/core/src/poly/circle/index.ts
packages/core/src/utils.ts 